.raterize_ratings_wrapper a{float:left;width:24px;height:22px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden; margin: 0px 2px;}
.raterize_ratings_wrapper a{background:url(images/star_slider.png) no-repeat 0px 0px;}
.raterize_ratings_wrapper a{display:block;width:24px;background-position:0px 0px;}
.raterize_ratings_wrapper a.raterize_active{background-position:-1px -24px!important}*/
.raterize_ratings_wrapper a:hover{background-position:-1px -24px}